{% load static %}
<div class="sidebar">

    <h3 class="sidebar-title">Search</h3>
    <div class="sidebar-item search-form">
      <form action="">
        <input type="text">
        <button type="submit"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End sidebar search formn-->

    <h3 class="sidebar-title">Categories</h3>
    <div class="sidebar-item categories">
      <ul>
        <li><a href="#">Programming <span>(25)</span></a></li>
        <li><a href="#">Design <span>(12)</span></a></li>
        <li><a href="#">Company <span>(5)</span></a></li>
      </ul>
    </div><!-- End sidebar categories-->

   
    <h3 class="sidebar-title">Recent Posts</h3>
    {% if recent_posts %}
        <div class="sidebar-item recent-posts">
            {% for post in recent_posts %}
                <div class="post-item clearfix">
                    <img src="{{ post.photo.url }}" alt="">
                    <h4><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h4>
                    <time datetime="2020-01-01">{{ post.date }}</time>
                </div>
            {% endfor %}
            </div><!-- End sidebar recent posts-->
        
      {% else %}
        <p>No blog post is available!</p>

      {% endif %}

    

    

  </div><!-- End sidebar -->